@{
    ViewBag.Title = "Edycja produktu";
}
<div class="subsection">
    Edycja produktu
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">

                <h4>Dodaj zdjęcia</h4>

                <div id="images" class="col-md-12">
                    <div class="row">
                        <div id="images_preview">
                            <div id="set_main_btn">USTAW ZDJĘCIE JAKO GŁÓWNE</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="img_holder">
                            <div class="img_preview">
                                <label class="fa fa-plus img_add">
                                    <input type="file" accept="image/png, image/jpeg" class="upload_img">
                                </label>                                
                            </div>        
                        </div>   
                    </div>
                </div>

            </div>

            <div class="row">
                <h4>Opis</h4>
                <div class=""></div>
            </div>

            <div class="row">
                <h4>Kategoria</h4>
                <div class=""></div>
            </div>

            <div class="row">
                <h4>Cena produktu</h4>
                <div class=""></div>
            </div>

            <div class="row">
                <h4>Dostępność</h4>
                <div class=""></div>
            </div>


            <div class="row">
                <h4>Widoczność</h4>
                <div class=""></div>
            </div>

            <div class="row">
                <h4>Guziki: Dodaj produkt / Zapisz, Usuń produkt</h4>
                <div class=""></div>
            </div>
        </div>
    </div>
</div>

