@{
	ViewBag.Title = "Historia zamówień";
}
<div class="subsection">
	Historia zamówień
</div>


<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Strona główna</a></li>
				<li class="active">Koszyk</li>
			</ol>
		</div>


		<div>
			<div class="status_info"><h4><span>Status:</span> W trakcie realizacji</h4></div>

			<div class="table-responsive order_info">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/one.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 119,99 zł</p>
							</td>
							<td class="order_price">
								<p>119,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/two.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 199,99 zł</p>
							</td>
							<td class="order_price">
								<p>199,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<h4>Dostawa:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_price">
								<p>25 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_total">
								<h4>Razem:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_total_price">
								<p>344,98 zł</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<hr />

		<div>
			<div class="status_info"><h4><span>Status:</span> W trakcie realizacji</h4></div>

			<div class="table-responsive order_info">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/one.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 119,99 zł</p>
							</td>
							<td class="order_price">
								<p>119,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/two.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 199,99 zł</p>
							</td>
							<td class="order_price">
								<p>199,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<h4>Dostawa:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_price">
								<p>25 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_total">
								<h4>Razem:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_total_price">
								<p>344,98 zł</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<hr />

		<div>
			<div class="status_info"><h4><span>Status:</span> W trakcie realizacji</h4></div>

			<div class="table-responsive order_info">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/one.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 119,99 zł</p>
							</td>
							<td class="order_price">
								<p>119,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<a href=""><img src="~/images/cart/two.png" alt=""></a>
							</td>
							<td class="order_description">
								<h4><a href="">Colorblock Scuba</a></h4>
							</td>
							<td class="order_quantity">
								<p>1 x 199,99 zł</p>
							</td>
							<td class="order_price">
								<p>199,99 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_product">
								<h4>Dostawa:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_price">
								<p>25 zł</p>
							</td>
						</tr>

						<tr>
							<td class="order_total">
								<h4>Razem:</h4>
							</td>
							<td class="order_description">
								<h4><a</a></h4>
							</td>
							<td class="order_quantity">
								<p></p>
							</td>
							<td class="order_total_price">
								<p>344,98 zł</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section> 